@model QuestionsList

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <tbody>
                @{ var i = 1; }
                @foreach (var item in Model.Items)
                {
                <tr>
                    <td>
                        @(i++)  - @item.Question : <strong> @item.Answer </strong>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<paging total-records="Model.TotalRecords"
        page-no="Model.PageNo"></paging>

<hr />
<p>another sample with more controls</p>
<!-- another sample -->
<paging total-records="Model.TotalRecords"
        page-no="Model.PageNo"
        page-size="Model.PageSize"
        show-prev-next="true"
        show-first-last="true"
        show-first-numbered-page="true"
        show-last-numbered-page="true"
        show-total-records="true"
        show-total-pages="true"
        show-page-size-nav="true"
        max-displayed-pages="5"
        ></paging>